{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for publication in publications.papers %}
  <div class="item">
    <script>
      function showAbstract{{ publication.id }}() {
      var x = document.getElementById("{{ publication.id }}");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
    </script>

    {% if publication.abstract %}
    <a class="publication-title" style="color: #000033" onclick="showAbstract{{ publication.id }}()"><li>{{ publication.title }}</li></a>
    <div class="abstract" id="{{ publication.id }}" hidden>
      {{ publication.abstract }}
    </div>   
    {% else %}
      <li>{{ publication.title }}</li>
    {% endif %}

    <div class="publication-authors">{{ publication.authors }}</div>

    <div class="publication-links">
    {% if publication.arxiv %}
      <a href="https://arxiv.org/abs/{{ publication.arxiv }}" target="_defualt">arXiv</a> |
    {% endif %}
    {% if publication.conference_link %}
      <a href="{{ publication.conference_link }}" target="_defualt">{{ publication.conference }}</a>
    {% endif %}
    {% if publication.journal %}
      | <a href="https://doi.org/{{ publication.journal_doi }}" target="_defualt">{{ publication.journal }}</a>
    {% endif %}
    </div> 

    {% if publication.other %}
      <div class="publication-other" style="color: #ff4d01">{{ publication.other }}</div>
    {% endif %}
  </div>
  {% endfor %}

</section>
{% endif %}
